<!-- header -->
<div class="agileits_header">
  <div class="container">
    <div class="w3l_offers">
      <p>SALE UP TO 50% OFF. DON'T MISS OUT! <a routerLink="/shop" style="margin-left: 5px;"> SHOP NOW</a></p>
    </div>
    <div class="agile-login">
      <ul>
        <li *ngIf="!isConnected()"><a routerLink="/register">Register</a></li>
        <li style="margin-right: -400px;" *ngIf="!isConnected()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isConnected()"><a routerLink="/profile">My Account</a></li>
        <li style="margin-right: -400px;" *ngIf="isConnected()"><a (click)="logout()" style="cursor: pointer;">Logout</a></li>

      </ul>
    </div>
    <div class="product_list_header">
        <form action="#" method="post" class="last">
          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="display" value="1">
          <button style="margin-top: -1.5px;" class="w3view-cart" type="submit" 
            name="submit" value="" data-toggle="modal" 
            data-target="#cartModal"
            (click)="openModal(null)"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
        </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<div class="logo_products">
  <div class="container">
  <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+216) 71 230 440</li>

      </ul>
    </div>
    <div class="w3ls_logo_products_left">
      <a href="home">
        <img src="assets/images/logo.png" alt="logo images">
      </a>
    </div>


    <div class="clearfix"> </div>
  </div>
</div>

<!-- //header -->

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <app-cart></app-cart>
</div>
