<app-header></app-header>
<app-navigator></app-navigator>
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Shop</li>
      <li id="path" style="visibility: hidden;" class="active"></li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->

<!--- groceries --->
<div class="products">
  <div class="container">
    <div class="col-md-4 products-left">
      <div class="categories">
        <h2>Categories</h2>
        <ul class="cate" style="padding-bottom: 0;">
          <li><a href="shop"><i class="fa fa-arrow-right" aria-hidden="true"></i>All</a></li>
        </ul>
        <ul class="cate" style="padding-top: 0;">
          <li *ngFor="let category of categories"><a><i class="fa fa-arrow-right" aria-hidden="true"></i>{{category?.name}}</a></li>
            <ul>
              <li *ngFor="let subC of subCategories">
                <a style="cursor: pointer;" (click)="filterProducts(subC._id)">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  {{subC?.name}}
                </a>
              </li>
            </ul>
        </ul>
      </div>
    </div>
    <div class="col-md-8 products-right">
      <div class="products-right-grid">
        <div class="products-right-grids">
          <div class="sorting">
            <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
              <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Default sorting</option>
              <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by popularity</option>
              <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by average rating</option>
              <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by price</option>
            </select>
          </div>
          <div class="sorting-left">
            <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
              <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 9</option>
              <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 18</option>
              <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 32</option>
              <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>All</option>
            </select>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="agile_top_brands_grids">
        <div class="col-md-4 top_brand_left" 
            *ngFor="let product of products; let i=index;" 
            style="margin-bottom: 15px;">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid_pos">
                <img [id]="i" src="../../assets/images/offer.png" alt=" " class="img-responsive">
              </div>
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <a href="single.html"><img title=" " alt=" " src="{{product?.image}}"></a>
                      <p>{{product?.name}}</p>
                      <h4>
                        <div [id]="i+123456789">
                          <span style="padding: 0;"> {{product?.price | number:'.3'}}DT</span>
                        </div>
                        {{getFinalPrice(product?.price, product?.discount, i, i+123456789) | number:'.3'}}DT 
                      </h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                      <form action="#" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart">
                          <input type="hidden" name="add" value="1">
                          <input type="hidden" name="business" value=" ">
                          <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                          <input type="hidden" name="amount" value="35.99">
                          <input type="hidden" name="discount_amount" value="1.00">
                          <input type="hidden" name="currency_code" value="USD">
                          <input type="hidden" name="return" value=" ">
                          <input type="hidden" name="cancel_return" value=" ">
                          <input type="submit" name="submit" value="Add to cart" class="button">
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>

      <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>


      <nav class="numbering">
        <ul class="pagination paging">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li> 
          <li>
            <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--- groceries --->
<app-footer></app-footer>
