<app-header></app-header>
<app-navigator></app-navigator>
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Shop</li>
      <li id="path" style="visibility: hidden;" class="active"></li>
    </ol>
  </div>

  <div class="w3l_search">
    <form action="#" method="post"(ngSubmit)="addSearchTerm(hist.value)">
        <input type="search"
               name="Search" placeholder="Search for a product..."
               #hist>
      <button type="submit" class="btn btn-default search" aria-label="Left Align">
        <i class="fa fa-search" aria-hidden="true"> </i>
      </button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
<!-- //breadcrumbs -->

<!--- groceries --->
<div class="products">
  <div class="container">

    <div class="col-md-4 products-left">

      <div class="categories">
        <h2>Categories</h2>
        <ul class="cate" style="padding-bottom: 0;">
          <li><a routerLink="/shop"><i class="fa fa-arrow-right" aria-hidden="true"></i>All</a></li>
        </ul>
        <ul class="cate" style="padding-top: 0;"
        *ngFor="let category of categories">
          <li>
            <a><i class="fa fa-arrow-right" aria-hidden="true"></i>{{category?.name}}</a>
          </li>
            <ul>
              <li *ngFor="let subC of category.subCategories">
                <a style="cursor: pointer;" (click)="filterProducts(subC._id)">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  {{subC?.name}}
                </a>
              </li>
            </ul>
        </ul>
      </div>
    </div>
    <div class="col-md-8 products-right">
      <div class="products-right-grid">
        <div class="products-right-grids">
          <div class="sorting-left">
            <select id="country" #val (change)="filter(val, dis)" class="frm-field required sect">
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>Default sorting</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>A - Z</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>Z - A</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>Low - High Price</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>High - Low Price</option>
            </select>
          </div>
          <div class="sorting-left">
            <select id="country" #dis (change)="discounted(dis, val)" class="frm-field required sect">
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>All</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>Discount</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>No discount</option>
            </select>
          </div>
          <div class="sorting-left">
            <select id="country1" #perPage (change)="setItemsPerPage(perPage)" class="frm-field required sect">
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>All items</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 6</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 9</option>
              <option><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 12</option>
            </select>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="agile_top_brands_grids">
        <div class="col-md-4 top_brand_left" *ngFor="let product of products | paginate: config | filter:term ; let i=index " style="margin-bottom: 15px;">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid_pos">
                <img [id]="i" src="../../assets/images/offer.png" alt=" " class="img-responsive">
              </div>
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <a routerLink="/product/{{product?._id}}"><img title=" " alt=" " style="height: 150px" src="http://localhost:3000/{{product?.image}}"></a>
                      <p>{{product?.name}}</p>
                      <h4>
                        <div [id]="i+98456621445">
                          <span style="padding: 0;"> {{product?.price | number:'.3'}}DT</span>
                        </div>
                        {{getFinalPrice(product?.price, product?.discount, i, i+98456621445) | number:'.3'}}DT
                      </h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                      <form action="#" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" #input value={{product?._id}}>
                          <input type="submit" name="submit" value="Add to cart" 
                          class="button" data-toggle="modal" 
                          data-target="#cartModal" 
                          (click)="openModal(input.value)">
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
      <nav class="numbering">
        <div class="pagination paging" style="text-align:right">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </nav>

      <!-- <nav class="numbering">
        <ul class="pagination paging">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--- groceries --->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <app-cart></app-cart>
</div>
<app-footer></app-footer>
