<app-header></app-header>
<app-navigator></app-navigator>
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="../../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">About</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
  <div class="container">
    <h3 class="w3_agile_header">About Us</h3>
    <div class="about-agileinfo w3layouts">
      <div class="col-md-8 about-wthree-grids grid-top">
        <h4>Know more about ShopForMe </h4><br>
        <p class="top">ShopForMe aspires to deliver all the groceries that you can find in Monoprix, straight to your house, in less than 8 hours.<br>
          This way, our clients can use this time for more important things that they can do while we take care of their grocery shopping.
          <br>We guarantee speed, hygiene and security.
          <br>With ShopForMe, there's no more time to waste on grocery shopping.
          <br>So, join Us!</p>
          <br>
        <div class="about-w3agilerow">
          <div class="col-md-4 about-w3imgs">
            <img src="../../assets/images/p3.jpg" alt="" class="img-responsive zoom-img"/>
          </div>
          <div class="col-md-4 about-w3imgs">
            <img src="../../assets/images/p4.jpg" alt=""  class="img-responsive zoom-img"/>
          </div>
          <div class="col-md-4 about-w3imgs">
            <img src="../../assets/images/p3.jpg" alt=""  class="img-responsive zoom-img"/>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-4 about-wthree-grids">
        <div class="offic-time">
          <div class="time-top">
            <h4>SERVICES :</h4>
          </div>
          <div class="time-bottom">
            <h5 style= "margin-bottom:25px;">ShopForMe IS COMMITED TO :</h5>
            <p style="text-align:left;">
              <li>Provide the best customer service</li>
              <li>Adapt to your life style</li>
              <li>Respect delivery time</li>
              <li>Do your groceries</li>
              <li>Not deliver the groceries in bad state</li>
              <li>Reimburse in case of mistakes</li>
              <li>Provide different offers</li>
              <li>SATISFY</li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //about -->
<!-- about-slid -->
<div class="about-slid agileits-w3layouts">
  <div class="container">
    <div class="about-slid-info">
      <h2>WITH OUR CARD WIN IN YOUR SHOPPING SPREES</h2>
      <p>Benefit up to -15% on your card, applicable on more than 500 products, all year long ! <br>Thanks to your membership, you can win money and add it to your card. You can use it whenever you can to please yourself and pay for the next purchases.</p>
    </div>
  </div>
</div>
<!-- //about-slid -->
<!-- about-team -->
<div class="about-team">
  <div class="container">
    <h3 class="w3_agile_header">Meet Our Team</h3>
    <div class="team-agileitsinfo">
      <div class="col-md-3 about-team-grids" style="background-color:#393737;">
        <img src="../../assets/images/t4.jpeg" alt=""/>
        <div class="team-w3lstext">
          <h4 style="color:white;"><span style="color:white;">YOSRA,</span> Manager</h4>
        </div>
        <div class="social-icons caption">
          <ul>
            <li><a href="#" class="fa fa-facebook facebook"> </a></li>
            <li><a href="#" class="fa fa-twitter twitter"> </a></li>
            <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class=" col-md-3 about-team-grids" style="background-color:#393737;">
        <img src="../../assets/images/t2.jpg" alt=""/>
        <div class="team-w3lstext">
          <h4 style="color:white;"><span style="color:white;">HAGER,</span> Director</h4>
        </div>
        <div class="social-icons caption">
          <ul>
            <li><a href="#" class="fa fa-facebook facebook"> </a></li>
            <li><a href="#" class="fa fa-twitter twitter"> </a></li>
            <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3 about-team-grids" style="background-color:#393737;">
        <img src="../../assets/images/t1.jpg" alt=""/>
        <div class="team-w3lstext">
          <h4 style="color:white;"><span style="color:white;">MAISSA,</span> Supervisior</h4>
        </div>
        <div class="social-icons caption">
          <ul>
            <li><a href="#" class="fa fa-facebook facebook"> </a></li>
            <li><a href="#" class="fa fa-twitter twitter"> </a></li>
            <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-3 about-team-grids" style="background-color:#393737;">
        <img src="../../assets/images/t3.jpeg" alt=""/>
        <div class="team-w3lstext">
          <h4 style="color:white;"><span style="color:white;">GHADA,</span> Staff</h4>
        </div>
        <div class="social-icons caption" >
          <ul>
            <li><a href="#" class="fa fa-facebook facebook"> </a></li>
            <li><a href="#" class="fa fa-twitter twitter"> </a></li>
            <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //about-team -->
<app-footer></app-footer>
