<app-header></app-header>
<app-navigator></app-navigator>
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Login</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- login -->
<div class="login">
  <div class="container">
    <h2>Login Form</h2>

    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      <form role="form" [formGroup]="loginForm" (ngSubmit)="loginBtn()">
        <div class="form-group">
          <input formControlName="email" type="email" class="form-control" placeholder="Email Address" required=" ">
        </div>
        <div class="form-group">
        <input formControlName="password" type="password" class="form-control" placeholder="Password" required=" ">
        </div>
        <div class="forgot">
          <a href="#">Forgot Password?</a>
        </div>

        <div class="text-center">
          <input type="submit" value="Login">
        </div>
      </form>
        <div class="alert alert-primary text-center" role="alert" *ngIf="message">
          {{message}}
        </div>
    </div>
    <h4>For New People</h4>
    <p><a routerLink="/register">Register Here</a> (Or) go back to <a href="home">Home<span
          class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
  </div>
</div>
<!-- //login -->
<app-footer></app-footer>
