<app-header></app-header>
<app-navigator></app-navigator>
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="../../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Contact</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- contact -->
<div class="about">
  <div class="w3_agileits_contact_grids">
    <div class="col-md-6 w3_agileits_contact_grid_left contact-info-container">
      <h3 class="w3_agile_header">Contact<span> Info</span></h3>
      <div class="contact-container">
        <p>54 Avenue Hedi Chaker, Les Berges du Lac 2, Tunis.</p>
        <ul class="wthree_contact_info_address">
          <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@shopforme.tn</a>
          </li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>+(216) 71 230 440</li>
        </ul>
        <div class="w3_agile_social_icons w3_agile_social_icons_contact">
          <ul>
            <li><a href="#" class="icon icon-cube agile_facebook"></a></li>
            <li><a href="#" class="icon icon-cube agile_instagram"></a></li>
            <li><a href="#" class="icon icon-cube agile_t"></a></li>
          </ul>
        </div>
        <div class="agile_map">
          <div style="width: 100%">
            <iframe width="100%" height="330" src="https://maps.google.com/maps?width=100%&amp;height=330&amp;hl=en&amp;q=les%20berges%20du%20lac%202+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
              <a href="https://www.maps.ie/coordinates.html">find my coordinates</a>
            </iframe>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-6 w3_agileits_contact_grid_right">
      <h2 class="w3_agile_header">Leave a<span> Message</span></h2>

      <form [formGroup]="messageForm" method="post">
        <span class="input input--ichiro">
          <div class="form-group">
            <input formControlName="fullName" class="input__field input__field--ichiro" type="text" id="input-25"
              name="Name" placeholder=" " required="" />
            <label class="input__label input__label--ichiro" for="input-25">
              <span class="input__label-content input__label-content--ichiro">Your Name</span>
            </label>
          </div>
        </span>
        <span class="input input--ichiro">
          <div class="form-group">
            <input class="input__field input__field--ichiro" type="email" id="input-26" formControlName="email"
              placeholder=" " required="" />
            <label class="input__label input__label--ichiro" for="input-26">
              <span class="input__label-content input__label-content--ichiro">Your Email</span>
            </label>
          </div>
        </span>
        <div class="form-group">
          <textarea formControlName="text" placeholder="Your message here..." required=""></textarea>
        </div>
        <input type="submit" value="Submit" (click)="messageBtn()">
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- contact -->
<app-footer></app-footer>
