<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">SHOPPING CART</h4>
      <button style="margin-top: -30px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" style="font-size: 40px;">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container mb-4">
        <div class="row">
          <div class="col-12">

            <div class="loginStyle" *ngIf="!loggedIn">
              <h2>You should be logged in!</h2>
              <a routerLink="/login"><button style="width: 25%; margin-top: 20px;" class="btn btn-light btn-success text-uppercase loginBtn">
               Login</button></a>
            </div>

            <div class="loginStyle" style="padding-bottom: 70px;" *ngIf="loggedIn && isEmpty()">
              <img src="assets/images/empty-cart.jpg">
            </div>

            <div class="table-responsive" *ngIf="loggedIn && !isEmpty()">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col"> </th>
                    <th scope="col">Product</th>
                    <th style="padding-left: 38px;" scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-right">Price</th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let purchaseDetail of cartApiService?.purchaseDetailsList">
                    <td style="width: 100px;"><img style="height: 50px" src="http://localhost:3000/{{purchaseDetail?.product?.image}}" /> </td>
                    <td style="width: 270px;">{{purchaseDetail?.product?.name}}</td>
                    <td style="width: 120px;">
                      <input class="form-control" type="number" #qty
                        min="1"
                       value={{purchaseDetail?.quantity}} 
                       (change)="calculatePrice(qty.value, purchaseDetail?.product?.price, purchaseDetail?.product?.discount, purchaseDetail?._id)" />
                    </td>
                    <td style="width: 200px;" class="text-right">{{purchaseDetail?.subTotal | number:'.3'}}DT</td>
                    <td style="width: 130px;" class="text-right"><button class="btn btn-sm btn-danger" (click)="delete(purchaseDetail?._id)"><i class="fa fa-trash"></i> </button>
                    </td> 
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Sub-Total</strong></td>
                    <td class="text-right">{{calculateSubTotal() | number:'.3'}}DT</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Shipping</strong></td>
                    <td class="text-right">6.000DT</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>{{calculateTotal() | number:'.3'}}DT</strong></td>
                    <td style="visibility: hidden;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer" *ngIf="loggedIn && !isEmpty()">
      <div class="col mb-2">
            <button style="margin-left: 20px; width: 25%;"
            type="button" class="btn btn-light text-uppercase"
            data-dismiss="modal">Continue Shopping</button>
            <a href="checkout"><button style="margin-left: 10px; width: 25%;" class="btn btn-light btn-success text-uppercase">Checkout</button></a>
      </div>
    </div>
  </div>
</div>
