<app-header></app-header>
<app-navigator></app-navigator>
<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Profile</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<div class="container bootstrap snippet" style="padding-top:60px ;">
  <div class="row">

    <div class="row">
      <div class="col-sm-3">
        <!--left col-->


        <div class="text-center">
          <img src="{{profileImage}}" class="avatar img-circle img-thumbnail" alt="">
          <div class="col-sm-10" style="margin-top:12px ;margin-left:20px ; margin-bottom:30px ; ">
            <h3>{{info?.name}} {{info?.lastname}}</h3>
          </div>
        </div>
      </div>
      <!--/col-3-->
      <div class="col-sm-9">
        <ul class="nav nav-tabs" style="margin-bottom:40px ;">
          <li class="active"><a data-toggle="tab" href="#home">Information</a></li>
          <li><a data-toggle="tab" href="#orders">Orders</a></li>
        </ul>


        <div class="tab-content">
          <div class="tab-pane active" id="home">

            <form class="form">
              <div class="col-xs-6">
                <label for="first_name">
                  <h4>First name</h4>
                </label>
                <input type="text" class="form-control" name="first_name" id="first_name" value={{info?.name}}
                  placeholder="First name" title="Edit your first name." #name>
              </div>

              <div class="col-xs-6">
                <label for="last_name">
                  <h4>Last name </h4>
                </label>
                <input type="text" class="form-control" name="last_name" id="last_name" value={{info?.lastname}}
                  placeholder="Last name" title="Edit your last name." #lastname>
              </div>

              <div class="col-xs-6">
                <label for="email">
                  <h4>Email</h4>
                </label>
                <input disabled type="email" class="form-control" name="email" id="email" value={{info?.email}}
                  placeholder="Email" title="Please contact us to change your email" #email>
              </div>

              <div class="col-xs-6">
                <label for="password">
                  <h4>Password</h4>
                </label>
                <input type="password" class="form-control" name="password" id="password" value={{info?.password}}
                  placeholder="*********" title="Edit your password." #password>
              </div>

              <div class="col-xs-6">
                <label for="phone">
                  <h4>Phone</h4>
                </label>
                <input type="text" class="form-control" name="phone" id="phone" value="(+216) {{info?.client?.phone}}"
                  placeholder="(+216) XX XXX XXX" title="Edit your phone number." #phone>
              </div>

              <div class="col-xs-6">
                <label for="location">
                  <h4>Location</h4>
                </label>
                <input type="text" class="form-control" id="location" value={{info?.client?.location}}
                  placeholder="Enter Address, City, Postal code" title="Edit your location" #location>
              </div>

              <div class="col-xs-6">
                <label for="Image">
                  <h4>Profile Image</h4>
                </label>
                <button class="form-control" style="height:40px">
                  <input type="file" style="font-size:16px" class="text-center center-block file-upload" #image
                    (change)="selectImage($event)">
                </button>
              </div>

              <div class="col-xs-12" style="margin-left:530px">
                <br>
                <br>
                <button class="btn btn-lg" type="button"
                  style="width:150px ; margin-right:10px ; color: black; background-color: #dcdcdc;"
                  (click)="resetBtn()">Reset</button>
                <button type="button" class="btn btn-lg" style="width:150px; color: black; background-color: #fe9126;"
                  (click)="updateProfile(name.value, lastname.value, email.value, location.value, phone.value, image.value, password.value)">
                  Save</button>
              </div>

            </form>
          </div>
          <!--/tab-pane-->
          <div class="tab-pane" id="orders">

            <!--  ****************************HOUNI EL ORDERS YE LEBNET ************************************-->

            <div class="row shop-tracking-status">

              <div class="col-md-12" *ngFor="let purchase of purchases?.slice().reverse() | paginate: config; let i=index;">
                <div class="well">
                  <div class="row">
                    <h4 style="margin:10px;margin-bottom:15px;font-size: 20px;margin-left: 15px;">Order
                      n°{{totalPurchases - i}}</h4>
                    <button class="btn btn-warning" (click)="orderDetail(i)"
                      style="margin-right: 12px;float: right;margin-top: -45px;font-weight: 600;">
                      View Details</button>
                  </div>
                  <ul class="list-group" style="width: 90%;margin-left: 40px;">
                    <li class="list-group-item">
                      <span class="prefix" style="font-weight: 600;">Order Date </span>
                      <span class="label label-success"
                        style="font-size: 100%;margin-left: 30px;">{{purchase?.orderDate | date : 'medium'}}</span>
                    </li>
                    <li class="list-group-item">
                      <span class="prefix" style="font-weight: 600;">Shipping Date </span>
                      <span class="label label-success"
                        style="font-size: 100%;margin-left: 12px;">{{purchase?.shippingDate | date : 'longDate'}}</span>
                    </li>
                    <li class="list-group-item">
                      <span class="prefix" style="font-weight: 600;">Total Price </span>
                      <span class="label label-success" style="font-size: 100%;margin-left: 35px;">
                        {{ purchase?.total | number: ".3" }}DT
                      </span>
                    </li>
                  </ul>
                  <div id={{i}} style="margin-top:35px; visibility: hidden; height: 0;">
                    <h4 style="font-size: 20px;margin-top:15px;">Order Details</h4>
                    <div class="table-responsive" style="width:90%;margin-left: 40px;">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col" class="text-center">
                              Quantity
                            </th>
                            <th scope="col" class="text-right">Price</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                        let purchaseDetail of purchase?.purchaseDetails
                      ">
                            <td style="width: 120px;">
                              <img style="padding-left: 20px; width: 70px; height: 50px;"
                                src="{{ purchaseDetail?.product?.image }}" />
                            </td>
                            <td style="width: 220px;">
                              {{ purchaseDetail?.product?.name }}
                            </td>
                            <td class="text-center">
                              {{ purchaseDetail?.quantity }}
                            </td>
                            <td class="text-right">
                              {{ purchaseDetail?.subTotal | number: ".3" }}DT
                            </td>
                            <td class="text-right">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="order-status" style="margin-top:120px">

                    <div class="order-status-timeline">
                    <div class="order-status-timeline-completion c3" 
                    [ngStyle]="{'width': purchase?.progress}"
                    id={{purchase?._id}}></div>
                    </div>

                    <div class="image-order-status image-order-status-new active img-circle">
                      <span class="status">Accepted</span>
                      <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-active active img-circle">
                      <span class="status">In progress</span>
                      <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-intransit active img-circle">
                      <span class="status">Shipped</span>
                      <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-delivered active img-circle">
                      <span class="status">Delivered</span>
                      <div class="icon"></div>
                    </div>
                    <div class="image-order-status image-order-status-completed active img-circle">
                      <span class="status">Completed</span>
                      <div class="icon"></div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div class="clearfix"> </div>
            <nav class="numbering">
              <div class="pagination paging" style="text-align:right">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </div>
            </nav>
          </div>
        </div>
        <!--/tab-pane-->
      </div>
      <!--/tab-content-->

    </div>
    <!--/col-9-->

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<!--/row-->
<app-footer></app-footer>
<script>
  $(document).ready(function () {


    var readURL = function (input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('.avatar').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }


    $(".file-upload").on('change', function () {
      readURL(this);
    });
  });
</script>